ProyectoDeGrado/Totem/Restaurante/WPF-LoginForm/Connected Services/ServiceReference1/WebServiceOkcasa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebServices/" targetNamespace="http://WebServices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="ExisteCliente" type="tns:ExisteCliente" />
  <xs:element name="ExisteCliente2" type="tns:ExisteCliente2" />
  <xs:element name="ExisteCliente2Response" type="tns:ExisteCliente2Response" />
  <xs:element name="ExisteClienteResponse" type="tns:ExisteClienteResponse" />
  <xs:element name="ExisteEquipo" type="tns:ExisteEquipo" />
  <xs:element name="ExisteEquipoResponse" type="tns:ExisteEquipoResponse" />
  <xs:element name="ExisteInspeccion" type="tns:ExisteInspeccion" />
  <xs:element name="ExisteInspeccionResponse" type="tns:ExisteInspeccionResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="Login2" type="tns:Login2" />
  <xs:element name="Login2Response" type="tns:Login2Response" />
  <xs:element name="LoginPeruano" type="tns:LoginPeruano" />
  <xs:element name="LoginPeruanoResponse" type="tns:LoginPeruanoResponse" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="LoginPeruano">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginPeruanoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteInspeccion">
    <xs:sequence>
      <xs:element name="idinspeccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteInspeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteCliente2">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element name="idcliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteCliente2Response">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login2">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Login2Response">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element name="idcliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteEquipo">
    <xs:sequence>
      <xs:element name="idequipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExisteEquipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>